<div id="thanks">

<h1>Thank You!</h1>
<p>Thanks for responding, I'm going to look over this soon.</p>

<a href="http://oscar.cmsc.dordt.edu/">Home</a>
<object width="425" height="344"><param name="movie" value="http://www.youtube.com/v/nyyd_pnaOCE&hl=en_US&fs=1&rel=0"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/nyyd_pnaOCE&hl=en_US&fs=1&rel=0" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="425" height="344"></embed></object>

</div>

